<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li id="home"><a href="/" onclick="selectTab("home")">Login</a></li>
      <li id="my_garden"><a href="/mygarden">My Garden</a></li>
      <li id="community_garden"><a href="/map">Community Garden</a></li>

    </ul>
  </div>
</nav>
