body {
  background-color: #ffffff;
  text-align: center;
}

h1 {
	color = blue;
}

background-image {
	opacity: 0.8;
}

p {
  font-family: "Courier New";
  font-size: 30px;
}

.left_align {
    text-align: left;
    padding-left: 30px;
}