body {
  background-color: #d0e4fe;
  text-align: center;
}

h1 {
  color: orange;
}

p {
  font-family: "Courier New";
  font-size: 30px;
}

.left_align {
    text-align: left;
    padding-left: 30px;
}