<!DOCTYPE html>
<html>

<head>
    <meta name="author" content="Josie Barth, Hannah Freedman, Catherine Cowell, Elif Olmez">
    <meta name="description" content="Grow Your Flower">

  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script>var apiKey = '<%= process.env.WEATHER_API_KEY %>';</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/js/main.js"></script>

</head>

<body>

    <background-image src="/images/cloudy-day.jpg"></background-image>
    <h1>My Garden</h1>

    <button type="button" onclick="getWeather()" >What's the weather?</button>

    <div class="city"></div><div class="temp"></div><br>
    <div class="precipitation"></div><br>
    <div class="wind-speed"></div><br>
    <div class="error-message"></div>

</body>

</html>
