<!DOCTYPE html>
<html>
  <head>
    <title>Grow Your Flower</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #canvas_map {
        height: 75%;
        margin-top: 0px;
      }
      #mapholder{
        top: 200px;
        height: 800px;
        width: auto;
      }
      #gardenheader {
          background-color: rgba(204, 204, 204, 0.5);
          margin: 0px;
          padding-bottom: 30px;
          position: absolute;
          text-align: center;
          width: 100%;
          height: auto;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script src="../../js/map.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css"/>


  </head>
  <body onload="initMap()" >
    <div id="gardenheader"><h1>Community Garden</h1><h3>Hover to see your friend's status</h3>
    <a href="/mygarden" id="navbutton">Back to My Garden ></a><br></div>
    <div id="mapholder"><div id="canvas_map"></div></div>
  </body>
</html>
